/* Colors */
$body-color: #f7f7f7;
$white: #fff;
$secondary-color: #3e86f5;
$secondary-color-light: #fdebb3;
$black: #282725;
$gray: #8b8b8b;
$footer-color: #fde59a;

/* Typography and Font */
$body-font: "Lato", sans-serif;

$font-very-light: 100;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;

/* Sizes */
